<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCM92__Jo--OkI_ITvv7ApxInvpUwWA82M</string>
	<key>GCM_SENDER_ID</key>
	<string>654149674992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cab.cabconsumidor</string>
	<key>PROJECT_ID</key>
	<string>cab-consumidor</string>
	<key>STORAGE_BUCKET</key>
	<string>cab-consumidor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654149674992:ios:ddeac03b1859518de25f35</string>
</dict>
</plist>